<%-# Written by Brandon Hong, Jon Bernstein, Gavin Bowman, Matthew Van Soelen %>

<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>SchoolRoute</title>

      <!--  css-->
      <%= stylesheet_link_tag 'bootstrap.min.css' %>
      <%= stylesheet_link_tag 'style.css' %>

    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">
      <header>
        <!-- NAVBAR SECTION -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          
          <h2 class="navbar-brand">SchoolRoute</h2>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <span class="navbar-nav mr-auto">       <!-- This is a spacer to move dropdown menu to the right -->
            </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.email%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
                <li class="nav-item">
                   <!-- <a class="nav-link" href="#">Logout</a>-->
       <a> <%= link_to "Logout", logout_path %> </a>
                </li>
            </ul>
          </div>
        </nav>
        <!-- END NAVBAR SECTION -->

        <!-- HOME SECTION -->
        <div id="dashboard">
          <div class="dashboard">

            <div class="col-md-12 text-center dashTheme">
                <h1><%= current_user.email%></h1>
                <h4>Admin</h4>              
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-md-6 text-center">
                <div class="student-sect sect-label">
                  <h1>Students</h1>

                  <div class="list">
                    <div class = "container">
                    <% @student.each do |student| %>
                            <div class="well list_style" >
                                    <h3><%= student.name%></h3>
                                    <%= link_to "Delete", student_path(student), method: :delete,
                                                                                  data: {confirm: 'Confirm?'}, :class => 'btn btn-danger' %>
                            </div>
                    <% end %>             
                    </div>
                  </div>
                </div>

                <div class="list">
                  <div class="sect-label">
                    <h1>Volunteers</h1>
                  </div>
                  <ul>
                      <li><p>John Smith</p><%= link_to "View", home_v1_path, :class => 'btn btn-default' %></li>
                      <li><p>Bill Higgens</p><%= link_to "View",  home_v2_path, :class => 'btn btn-default' %></li>
                      <li><p>Sarah Park</p><%= link_to "View", home_v3_path, :class => 'btn btn-default' %></li>
                      <li><p>Alice Li</p><%= link_to "View", home_v4_path, :class => 'btn btn-default' %></li>
                    </ul>
                </div>

                
              </div>
              
              <div class="col-md-6">
                <div class="sect-label">
                  <h1>Bus Stop</h1>	
	<%= link_to 'View Bus Stops', posts_path, :class => 'btn btn-default btn1' %>
		<div class = "container">
		<% @posts.each do |post| %>
        			<div class="well list_style">
          				<h3><%= post.title %></h3>
          				<%= link_to "View Stop", post_path(post), :class => 'btn btn-default'%>
        			</div>
			<% end %> 
		</div>
	<h1> Parents </h1>	
	<%=link_to "View Parents", parents_index_path, :class => 'btn btn-light btn1'%>         
                     
        </div>
	<div class = "container">
		<% @parents.each do |parent| %>
        		<div class="well list_style" >
                		<h3><%= parent.title%></h3>
                		<p><%= parent.body %></p>
                		<%= link_to "View Parent", parent_path(parent), :class => 'btn btn-default' %>
       			</div>
		<% end %>             
	</div>
                </div>
              </div>
            </div>  <!-- END ROW DIV -->  

          </div>
        </div>
        <!-- END HOME SECTION -->
      </header>

      <footer>
        <div class="container">
          <p>Developed by students at The College of New Jersey</p>
        </div>
      </footer>

      <!-- Script Sources -->
      <%= javascript_include_tag 'jquery-3.3.1.min.js' %>
      <%= javascript_include_tag 'bootstrap.min.js' %>
    </body>
  </html>

