<%-# Written by Brandon Hong, Jon Bernstein, Gavin Bowman %>

<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>SchoolRoute</title>

      <!--  css-->
      <%= stylesheet_link_tag 'bootstrap.min.css' %>
      <%= stylesheet_link_tag 'style.css' %>

    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">
      <header>
        <!-- NAVBAR SECTION -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          
          <h2 class="navbar-brand">SchoolRoute</h2>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <span class="navbar-nav mr-auto">       <!-- This is a spacer to move dropdown menu to the right -->
            </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= current_user.email%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>
                <li class="nav-item">
                   <!-- <a class="nav-link" href="#">Logout</a>-->
		   <a <%= link_to "Logout", logout_path %> </a>
                </li>
            </ul>
          </div>
        </nav>
        <!-- END NAVBAR SECTION -->

        <!-- HOME SECTION -->
        <div id="dashboard">
          <div class="dashboard">

            <div class="col-md-12 text-center dashTheme">
                <h1><%= current_user.email%></h1>
                <h4>Parent</h4>              
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-md-6 text-center">
                <div class="student-sect sect-label">
                  <h1>Students</h1>

                  <div class="row">
                    <div class="text-container">
                      <input type="text" placeholder="Student Name" name="regStudentText">
                    </div>
                    <a class="btn btn-outline-light btn-lg" href="#">Register Student</a>
                  </div> <!-- END ROW DIV -->

                  <div class="list">
                    <ul>
                      <li>Student 1<span><b>(X)</b></span></li>
                      <li>Student 2<span><b>(X)</b></span></li>
                      <li>Student 3<span><b>(X)</b></span></li>
                      <li>Student 4<span><b>(X)</b></span></li>
                    </ul>
                  </div>
                </div>

                <div class="list">
                  <div class="sect-label">
                    <h1>Volunteers</h1>
                  </div>
                  <ul>
                      <li>Volunteer 1<span><b>(VIEW)</b></span></li>
                      <li>Volunteer 2<span><b>(VIEW)</b></span></li>
                      <li>Volunteer 3<span><b>(VIEW)</b></span></li>
                      <li>Volunteer 4<span><b>(VIEW)</b></span></li>
                    </ul>
                </div>

                
              </div>
              
              <div class="col-md-6">
                <div class="sect-label">
                  <h1>Bus Stop</h1>
		  <%= link_to 'View Bus Stops', posts_path, :class => 'btn btn-default' %><br><br>
     
  			<% @posts.each do |post| %>
				<div class="well">
					<h3><%= post.title %></h3>
					<%= link_to "View Stop", post_path(post), :class => 'btn btn-default'%>
				</div>
			<% end %>
                	
                    
                  
                </div>
              </div>
            </div>  <!-- END ROW DIV -->  

          </div>
        </div>
        <!-- END HOME SECTION -->
      </header>

      <footer>
        <div class="container">
          <p>Developed by students at The College of New Jersey</p>
        </div>
      </footer>

      <!-- Script Sources -->
      <%= javascript_include_tag 'jquery-3.3.1.min.js' %>
      <%= javascript_include_tag 'bootstrap.min.js' %>
    </body>
  </html>
